@{
    ViewBag.Title = " خروجی لیست مالیات";
}

<form id="form" method="POST">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label" for="inputEmail">سال</label>
                            <input type="text" name="year" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="inputPassword">ماه</label>
                            <input type="text" name="month" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="PaymentMethod">نحوه پرداخت</label>
                            <select name="PaymentMethod" class="js-data-example-ajax form-control"
                                    asp-items="Html.GetEnumSelectList<Common.Enums.PaymentType>()" required>
                            </select>
                        </div>
                        <div class="col-12 mt-1">
                            <label class="form-label" for="inputPassword">پروژه</label>
                            <select id="project" class="js-data-example-ajax form-control" name="projectList" required multiple>
                                <option selected>یک مورد را انتخاب کنید</option>
                            </select>
                        </div>
                        <div class="mt-3 col-12">
                            <button onclick="SubmitTXTWPForm()" class="btn btn-primary">تولید فایل TXT (WP)</button>
                            <button onclick="SubmitTXTWHForm()" class="btn btn-primary">تولید فایل TXT (WH)</button>
                            <button onclick="SubmitPDFForm()" class="btn btn-primary">تولید فایل PDF</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function SubmitTXTWPForm() {
        $('#form').attr('action', "/Export/tax/TXTWP").submit();
    }
    function SubmitTXTWHForm() {
        $('#form').attr('action', "/Export/tax/TXTWH").submit();
    }
    function SubmitPDFForm() {
        $('#form').attr('action', "/Export/tax/PDF").submit();
    }

</script>
@section Scripts{
    <script>

        $.ajax({
            url: "/admin/project/getlist",
            method: "GET",
            success: function (model) {
                $.map(model, function (val, i) {
                    console.log(val);
                    $("#project").append('<option value="' + val.id + '">' + val.title + '</option>');
                });
            }
        })
    </script>
}
