@using Web.Areas.Admin.Models
@using Common.Enums
@model ProjectViewModel
@{
    ViewBag.Title = "پروژه جدید";
}

<form id="form" method="POST" action="Save">
    <div class="row justify-content-center">
        <div class="col-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <input hidden asp-for="Id">

                        <div class="col-6 mt-3">
                            <label class="form-label" for="Title">نام پروژه</label>
                            <input asp-for="Title" class="form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="Code">کد پروژه</label>
                            <input asp-for="Code" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="TaxAuthorityName">نام سازمان مالیاتی</label>
                            <input asp-for="TaxAuthorityName" class="form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="TaxAuthorityCode">کد سازمان مالیاتی</label>
                            <input asp-for="TaxAuthorityCode" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopName">نام کارگاهی</label>
                            <input asp-for="WorkshopName" class="form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopCode">کد کارگاهی</label>
                            <input asp-for="WorkshopCode" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopCode">تاریخ شروع</label>
                            <input name="StartDate" type="text" class="datepicker form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopCode">تاریخ پایان</label>
                            <input asp-for="EndDate" type="text" class="datepicker form-control" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopCode">ردیف پیمان</label>
                            <input asp-for="RowOfCovenant" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopCode">وضعیت پروژه</label>
                            <select asp-for="ProjectStatus"
                                    class="form-control"
                                    asp-items="Html.GetEnumSelectList<ProjectStatus>()"></select>
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopCode">شعبه بیمه</label>
                            <input asp-for="BranchName" class="form-control" placeholder="">
                        </div>
                        <div class="mt-6 col-12 text-right">
                            <button type="submit" class="btn btn-primary">ذخیره</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>