@using Web.Areas.Admin.Models
@using Common.Enums
@model ProjectViewModel
@{
    ViewBag.Title = "ویرایش پروژه";
}

<form id="form" method="POST" action="Save">
    <div class="row justify-content-center">
        <div class="col-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <input hidden asp-for="Id">

                        <div class="col-6 mt-3">
                            <label class="form-label" for="Title">نام پروژه</label>
                            <input asp-for="Title" class="form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="Code">کد پروژه</label>
                            <input asp-for="Code" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="TaxAuthorityName">نام سازمان مالیاتی</label>
                            <input asp-for="TaxAuthorityName" class="form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="TaxAuthorityCode">کد سازمان مالیاتی</label>
                            <input asp-for="TaxAuthorityCode" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopName">نام کارگاهی</label>
                            <input asp-for="WorkshopName" class="form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopCode">کد کارگاهی</label>
                            <input asp-for="WorkshopCode" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopCode">تاریخ شروع</label>
                            <input name="StartDate" type="text" class="datepicker form-control" value="@(Model.StartDate == default(DateTime)? null:Model.StartDate.ToString("yyyy/MM/dd") )">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopCode">تاریخ پایان</label>
                            <input asp-for="EndDate" type="text" class="datepicker form-control" placeholder="" value="@(Model.EndDate == default(DateTime)? null:Model.EndDate?.ToString("yyyy/MM/dd") )">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopCode">ردیف پیمان</label>
                            <input asp-for="RowOfCovenant" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="InsurancesName">نام سازمان مالیاتی</label>
                            <input asp-for="InsurancesName" class="form-control" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="InsurancesName">نام کارفرما</label>
                            <input asp-for="OwnerName" class="form-control" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopCode">وضعیت پروژه</label>
                            <select asp-for="ProjectStatus"
                                    class="form-control"
                                    asp-items="Html.GetEnumSelectList<ProjectStatus>()"></select>
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="WorkshopCode">شعبه بیمه</label>
                            <input asp-for="BranchName" class="form-control" placeholder="">
                        </div>
                        <div class="col-12 mt-3 mb-5">
                            <label class="form-label" for="Address">آدرس</label>
                            <input asp-for="Address" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
                        <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 mt-3">
                            <label class="form-label" for="DisplayName">نام پروژه نمایشی</label>
                            <input asp-for="DisplayName" class="form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="DisplayPhoneNumber">شماره تلفن نمایشی</label>
                            <input asp-for="DisplayPhoneNumber" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="DisplayEmail">ایمیل نمایشی</label>
                            <input asp-for="DisplayEmail" class="form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="DisplayPostalCode">کد پستی نمایشی</label>
                            <input asp-for="DisplayPostalCode" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-12 mt-3">
                            <label class="form-label" for="DisplayAddress">آدرس نمایشی</label>
                            <input asp-for="DisplayAddress" class="form-control" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3 mb-5">
                <div class="mt-6 col-12 text-right">
                    <button type="submit" class="btn btn-primary">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>