@using Web.Areas.Admin.Models
@using Common.Enums
@model ProjectRuleViewModel
@{
    ViewBag.Title = "انتقال پرسنل";
}
<link href="~/css/DraggerProjectRule.css" rel="stylesheet" />

<form id="form" method="POST" action="SetAccess">
    <div class="row justify-content-center">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 mt-3">
                            <label class="form-label" for="OldProjectRef">پروژه مبدا</label>
                            <select id="project1" class="js-data-example-ajax form-control" name="OldProjectRef" required>
                            </select>
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="NewProjectRef">پروژه مقصد</label>
                            <select id="project2" class="js-data-example-ajax form-control" name="NewProjectRef" required>
                            </select>
                        </div>
                        <div class="col-2 mt-3">
                            <label class="form-label" for="DisableOldProject">تغییر وضعیت پروژ]ه مبدا</label>
                            <select id="DisableOldProject" class="js-data-example-ajax form-control" name="DisableOldProject" required>
                                <option value="true">اتمام پروژه</option>
                                <option value="false">بدون تغییر</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3 mb-5">
                <div class="mt-6 col-12 text-right">
                    <button type="submit" class="btn btn-primary">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
    {
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/ProjectRule/ProjectRule.js"></script>
    <script>

        $.ajax({
            url: "/admin/project/getlist",
            method: "GET",
            success: function(model) {
                //console.log(parseJSON(model));
                $.map(model, function(val, i) {
                    console.log(val);
                    $("#project1").append('<option value="' + val.id + '">' + val.title + ' ( ' + val.workshopName + ' ) ' + '</option>');
                    $("#project2").append('<option value="' + val.id + '">' + val.title + ' ( ' + val.workshopName + ' ) ' + '</option>');
                });
                //$("#project").append('<option value="' + model.id + '">' + model.title + '</option>');
                //$("#project").select2();
            }
        })
    </script>
}