@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{   
    //ViewBag.Title = "پیشخوان";
}
<div class="container-fluid">
    <br />
    <h2 class="text-center display-4">پیشخوان</h2>
</div>