@{
    ViewBag.Title = "خروجی خلاصه مالیات";
}
<style>
    .hr-text {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: center;
        height: 1.5em;
        opacity: 0.5;
    }

        .hr-text:before {
            content: "";
            background: linear-gradient(to right, transparent, black, transparent);
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 1px;
        }

        .hr-text:after {
            content: attr(data-content);
            position: relative;
            display: inline-block;
            color: black;
            padding: 0 0.5em;
            line-height: 1.5em;
            color: #818078;
            background-color: #fcfcfa;
        }

    .form-label {
        font-size: 14px
    }
</style>
<form id="form" method="Post">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label class="form-label" for="year">سال</label>
                            <input type="text" name="Year" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="month">ماه</label>
                            <input type="text" name="Month" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="day">روز</label>
                            <input type="text" name="Day" class="form-control" placeholder="" required>
                        </div>

                        <div class="col-12">
                            <hr class="hr-text" data-content="مشخصات">
                        </div>

                        <div class="col-6">
                            <label class="form-label" for="Debt">بدهی مالیاتی ماه جاری</label>
                            <input type="text" name="Debt" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="PreviousDebt">بدهی مالیاتی ماه قبلی</label>
                            <input type="text" name="PreviousDebt" class="form-control" placeholder="" required>
                        </div>

                        <div class="col-4">
                            <label class="form-label" for="RegisteredYear">سال ثبت</label>
                            <input type="text" name="RegisteredYear" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="RegisteredMonth">ماه ثبت</label>
                            <input type="text" name="RegisteredMonth" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="RegisteredDay">روز ثبت</label>
                            <input type="text" name="RegisteredDay" class="form-control" placeholder="" required>
                        </div>

                        <div class="col-12">
                            <hr class="hr-text" data-content="مشخصات پرداخت">
                        </div>

                        <div class="col-6">
                            <label class="form-label" for="PaymentMethod">نحوه پرداخت</label>
                            <select name="PaymentMethod" class="js-data-example-ajax form-control" required>
                                <option selected>یک مورد را انتخاب کنید</option>

                                <option value="1">واریز نقدی</option>
                                <option value="2">ارائه لیست بدون پرداخت مالبات</option>
                                <option value="3">پرداخت خزانه</option>
                                <option value="4">چک شخصی</option>
                                <option value="5">پرداخت با کارت اعتباری</option>
                                <option value="6">انتقال بانکی</option>
                                <option value="7">سفته</option>
                                <option value="8">چک تضمین شده</option>
                            </select>
                        </div>

                        <div class="col-6">
                            <label class="form-label" for="SerialCheck">سریال چک</label>
                            <input type="text" name="SerialCheck" class="form-control" placeholder="" required>
                        </div>

                        <div class="col-4">
                            <label class="form-label" for="CheckYear">سال چک</label>
                            <input type="text" name="CheckYear" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="CheckMonth">ماه چک</label>
                            <input type="text" name="CheckMonth" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="CheckDay">روز چک</label>
                            <input type="text" name="CheckDay" class="form-control" placeholder="" required>
                        </div>

                        <div class="col-6">
                            <label class="form-label" for="BankIndex">نام بانک</label>
                            <select name="BankIndex" class="js-data-example-ajax form-control" required>
                                <option selected>یک مورد را انتخاب کنید</option>

                                <option value="1">انصار</option>
                                <option value="2">توسعه تعاون</option>
                                <option value="3">مرکزی</option>
                                <option value="4">شهر</option>
                                <option value="5">دی</option>
                                <option value="6">توسعه صادرات ایران</option>
                                <option value="7">اقتصاد نوین</option>
                                <option value="8">قرض الحسنه مهر ایران</option>
                                <option value="9">حکمت ایرانیان</option>
                                <option value="10">توسعه صادرات ایران</option>
                                <option value="11">صنعت و معدن</option>
                                <option value="12">کارآفرین</option>
                                <option value="13">کشاورزی</option>
                                <option value="14">مسکن</option>
                                <option value="15">ملت</option>
                                <option value="16">ملی ایران</option>
                                <option value="17">پارسیان</option>
                                <option value="18">پاسارگاد</option>
                                <option value="19">پست بانک</option>
                                <option value="20">رفاه کارگران</option>
                                <option value="21">صادرات</option>
                                <option value="22">سامان</option>
                                <option value="23">سرمایه</option>
                                <option value="24">سپه</option>
                                <option value="25">سینا</option>
                                <option value="26">تات</option>
                                <option value="27">تجارت</option>
                                <option value="28">گردشگری</option>
                                <option value="29">رسالت</option>

                            </select>
                        </div>

                        <div class="col-6">
                            <label class="form-label" for="BranchName">نام شعبه</label>
                            <input type="text" name="BranchName" class="form-control" placeholder="" required>
                        </div>

                        <div class="col-12">
                            <label class="form-label" for="AccountNo">شماره حساب</label>
                            <input type="text" name="AccountNo" class="form-control" placeholder="" required>
                        </div>

                        <div class="col-6">
                            <label class="form-label" for="PaymentAmount">مبلغ پرداختی</label>
                            <input type="text" name="PaymentAmount" class="form-control" placeholder="" required>
                        </div>

                        <div class="col-6">
                            <label class="form-label" for="PaymentAmountOfTreasury">مبلغ پرداختی خزانه</label>
                            <input type="text" name="PaymentAmountOfTreasury" class="form-control" placeholder="" required>
                        </div>

                        <div class="col-4">
                            <label class="form-label" for="PaymentYear">سال پرداخت</label>
                            <input type="text" name="PaymentYear" class="form-control" placeholder="" required>
                        </div>

                        <div class="col-4">
                            <label class="form-label" for="PaymentMonth">ماه پرداخت</label>
                            <input type="text" name="PaymentMonth" class="form-control" placeholder="" required>
                        </div>

                        <div class="col-4">
                            <label class="form-label" for="PaymentDay">روز پرداخت</label>
                            <input type="text" name="PaymentDay" class="form-control" placeholder="" required>
                        </div>


                        <div class="mt-3 col-12">
                            <button onclick="SubmitTXTForm()" class="btn btn-primary">تولید فایل TXT</button>
                            <button onclick="SubmitPDFForm()" class="btn btn-primary">تولید فایل PDF</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function SubmitTXTForm() {
        $('#form').attr('action', "/Export/SummaryTax/TXT").submit();
    }
    function SubmitPDFForm() {
        $('#form').attr('action', "/Export/SummaryTax/PDF").submit();
    }
</script>
@section Scripts{
    <script>

        $.ajax({
            url: "/admin/project/getlist",
            method: "GET",
            success: function (model) {
                //console.log(parseJSON(model));
                $.map(model, function (val, i) {
                    console.log(val);
                    $("#project").append('<option value="' + val.id + '">' + val.title + '</option>');
                });
                //$("#project").append('<option value="' + model.id + '">' + model.title + '</option>');
                //$("#project").select2();
            }
        })
    </script>
}
