@using Web.Areas.Admin.Models
@model UserViewModel
@{
    ViewBag.Title = "ویرایش کاربر";
    ViewBag.Capation = "درحال ویرایش کاربر هستید.";
    var RoleList = ViewData["RoleList"] as List<RoleViewModel>;
}
<form method="post" asp-area="Admin" asp-controller="User" asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="card" id="mainBox">
        <div class="card-body" name="familyBox">
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <label for="FirstName" class="form-label col-lg-3">نام</label>
                    <input type="text" asp-for="FirstName" name="FirstName" class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label for="LastName" class="form-label col-lg-3">نام خانوادگی</label>
                    <input type="text" asp-for="LastName" name="LastName" class="form-control">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label for="UserName" class="form-label col-lg-3">نام کاربری</label>
                    <input type="text" asp-for="UserName" name="UserName" class="form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label for="Email" class="form-label col-lg-3">ایمیل</label>
                    <input type="email" asp-for="Email" name="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-6 mt-3">

                    <label class="form-label select-label">نقش</label>
                    <select class="selectpicker js-data-example-ajax form-control" title="انتخاب کنید" name="RoleId" id="RoleId"
                            data-live-search="true" data-live-search-placeholder="جستجو">
                        @foreach (var role in RoleList)
                        {
                            if (Model.RoleId == role.Id)
                            {
                                <option value="@role.Id" selected>@role.Name</option>
                            }
                            else
                            {
                                <option value="@role.Id">@role.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success">ذخیره</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>