@inject IHtmlLocalizer<SharedResource> localizer
@{
    ViewData["Title"] = localizer["Users"];
    ViewData["Caption"] = localizer["Manage Users here"];
    ViewBag.Title = "مدیریت کاربران";
}
<div class="card" id="myT">
    <div class="col-sm-12" style="padding:20px">
        @*        <a onclick="jQueryModalGet('/admin/user/OnGetCreate','Create User')" class="btn bg-success">
            <i class="fa fa-plus-square"></i> @localizer["Create"]
            </a>*@
        @*        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            @localizer["Reload"]
            </a>*@
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="modal-user-docs">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        //$("#userTable").DataTable();
        loadData();
        $('#reload').on('click', function () {
            loadData();
        });
    });
    function loadData() {
        $('#viewAll').load('/admin/user/loadall');

        SetLoading(true,"#myT");
    }

    function GetDocuments(id)
    {
        $.ajax({
        url: "/admin/user/getdocuments?userId="+id,
        method: "GET",
        success: function (model) {
             console.log(model);

             $('#modal-user-docs').modal('show')
        }
    });
    }
    function GetAdditionalUsers(id)
    {
        $.ajax({
        url: "/admin/user/GetAdditionalUsers?userId="+id,
        method: "GET",
        success: function (model) {
             console.log(model);

             $('#modal-user-docs').modal('show')
        }
    });
    }
</script>
}