@inject IHtmlLocalizer<SharedResource> localizer
@inject Infrastructure.Repositories.IFileRepository _fileRepository;

@{
    ViewData["Title"] = localizer["Users"];
    ViewData["Caption"] = localizer["Manage Users here"];
    ViewBag.Title = "مدیریت کاربران";
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-10 mt-1">
                <select id="project" class="js-data-example-ajax form-control" name="projectId" required>
                    <option selected>یک مورد را انتخاب کنید</option>
                </select>
            </div>
            <div class="mt-1 col-2">
                <button onclick="loadData($('#project').val())" class="btn btn-primary">جستجو</button>
            </div>
        </div>
    </div>
</div>
<div class="card d-none" id="data-card">
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal-user-docs">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="direction:ltr!important;">
                <h5 class="modal-title">مدارک</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal-user-additional">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="direction:ltr!important;">
                <h5 class="modal-title">تحت تکفل</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script src="~/js/site.js"></script>
<script>
    var page = 0;

    function loadData(projectId) {
        $('#data-card').load('/admin/user/loadall?projectId=' + projectId + '&pageSize=10&pageNumber=' + page);
    }

    function GetDocuments(id)
    {
        $.ajax({
        url: "/admin/user/getdocuments?userId="+id,
        method: "GET",
        success: function (model) {

             $('#modal-user-docs .modal-body').html('<div class="row"></div>');
             $.each(model,function(index,item){
             var row=`<div class="col-md-3">
                        <select id="User_Doc_`+index+`" class="form-control ml-0 mr-0 valid" disabled>
                            <option value="1">عکس پرسنلی</option>
                            <option value="2">کارت ملی</option>
                            <option value="3">پشت کارت ملی</option>
                            <option value="4">صفحه اول شناسنامه</option>
                            <option value="5">صفحه دوم شناسنامه</option>
                            <option value="6">صفحه سوم شناسنامه</option>
                            <option value="7">کارت پایان خدمت</option>
                            <option value="8">آخرین مدرک تحصیلی</option>
                            <option value="9">تضامین 1</option>
                            <option value="10">تضامین 2</option>
                            <option value="11">سایر</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <a href="@_fileRepository.GetFileFullPath("").ImagePath\\`+item.fullPath+`" target="_blank">
                            <img class="form-control w-auto" src="@_fileRepository.GetFileFullPath("").ThumbPath\\`+item.fullPath+`" />
                        </a>
                    </div>` ;
                $('#modal-user-docs .modal-body .row').append(row);
                $('#User_Doc_'+index).val(item.documentType);

             });

             $('#modal-user-docs').modal('show')
        }
    });
    }

    function GetAdditionalUsers(id)
    {
        $.ajax({
        url: "/admin/user/GetAdditionalUsers?userId="+id,
        method: "GET",
        success: function (model) {

            $('#modal-user-additional .modal-body').html('<div class="row"></div>');
             $.each(model,function(index,item){
             var row=`
             <div class="col-md-4">
             <label class="form-label">رابطه خویشاوندی</label>
                <select class="form-control" id="User_additional_`+index+`" disabled>
                    <option value="1">همسر</option>
                    <option value="2">دختر</option>
                    <option value="3">پسر</option>
                    <option value="4">مادر</option>
                    <option value="5">پدر</option>
                </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">نام و نام خانوادگی</label>
                        <input  class="form-control" type="text"  value="`+item.firstName+` `+item.lastName+`" disabled>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">کد ملی</label>
                        <input  class="form-control" type="text"  value="`+item.nationalCode+`" disabled>
                    </div>`
                    ;
                $('#modal-user-additional .modal-body .row').append(row);
                $('#User_additional_'+index).val(item.familyRole);

             });

             $('#modal-user-additional').modal('show');
         }
    });
    }
            $.ajax({
        url: "/admin/project/getlist",
        method: "GET",
        success: function (model){
            $.map( model, function( val, i ) {
  
                $("#project").append('<option value="' + val.id + '">' + val.title + '</option>');
            });
        }
    })

</script>
}