@{
    ViewData["Title"] = "کاربران";
    ViewData["Caption"] = "کاربران سامانه را دز اینجا مدیریت کنید.";
}
<div class="card">
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            loadData();
        });
        function loadData() {
                $('#CustomSpinner').css('display','block')
                $('#viewAll').load('/admin/user/ViewAll');
        }
    </script>
}