@model Domain.Entities.Base.Identity.ApplicationUser
@{

}
<div class="row">
    <form>
  <div class="form-group">
    <label for="FirstName">نام</label>
    <input asp-for="FirstName" name="FirstName" class="form-control" ></input>
  </div>
  <div class="form-group">
    <label for="LastName">نام خانوادگی</label>
    <input asp-for="LastName" name="LastName" class="form-control" ></input>
  </div>
    <div class="form-group">
    <label for="LastName">نام خانوادگی</label>
    <input asp-for="LastName" name="LastName" class="form-control" ></input>
  </div>
  <div class="form-group">
    <label for="Birthday">نام خانوادگی</label>
    <input asp-for="Birthday" name="Birthday" class="form-control" ></input>
  </div>
    <div class="form-group">
    <label for="Birthday">نام خانوادگی</label>
    <input asp-for="Birthday" name="Birthday" class="form-control" ></input>
  </div>
    <div class="form-group">
    <label for="Birthday">نام خانوادگی</label>
    <input asp-for="Birthday" name="Birthday" class="form-control" ></input>
  </div>
    <div class="form-group">
    <label for="Birthday">نام خانوادگی</label>
    <input asp-for="Birthday" name="Birthday" class="form-control" ></input>
  </div>
</form>  <div class="form-group">
    <label for="Birthday">نام خانوادگی</label>
    <input asp-for="Birthday" name="Birthday" class="form-control" ></input>
  </div>
</div>  <div class="form-group">
    <label for="Birthday">نام خانوادگی</label>
    <input asp-for="Birthday" name="Birthday" class="form-control" ></input>
  </div>
    <div class="form-group">
    <label for="Birthday">نام خانوادگی</label>
    <input asp-for="Birthday" name="Birthday" class="form-control" ></input>
  </div>  
  <div class="form-group">
    <label for="Birthday">نام خانوادگی</label>
    <input asp-for="Birthday" name="Birthday" class="form-control" ></input>
  </div>