@using Common.Enums
@model Web.Areas.Dashboard.Models.EditUserViewModel
@{
    int index = 0;
}
<form action="Edit" method="post">
    <div class="row">
        <div class="col-6 mb-2">
            <label for="Birthday">تاریخ تولد</label>
            <input name="Birthday" class="datepicker form-control" value="@Model.Birthday.ToString()" />
        </div>
        <div class="col-6 mb-2">
            <label for="FatherName">نام پدر</label>
            <input asp-for="FatherName" name="FatherName" class="form-control" />
        </div>
        <div class="col-6 mb-2">
            <label for="IdentitySerialNumber">سریال شناسنامه</label>
            <input asp-for="IdentitySerialNumber" name="IdentitySerialNumber" class="form-control" />
        </div>
        <div class="col-6 mb-2">
            <label for="IdentityNumber">شماره شناسنامه</label>
            <input asp-for="IdentityNumber" name="IdentityNumber" class="form-control" />
        </div>
        <div class="col-6 mb-2">
            <label for="BirthPlace">محل تولد</label>
            <input asp-for="BirthPlace" name="BirthPlace" class="form-control" />
        </div>
        <div class="col-6 mb-2">
            <label for="Address">آدرس</label>
            <input asp-for="Address" name="Address" class="form-control" />
        </div>
        <div class="col-6 mb-2">
            <label for="ZipCode">کد پستی</label>
            <input asp-for="ZipCode" name="ZipCode" class="form-control" />
        </div>
        <div class="col-6 mb-2">
            <label for="PhoneNumber">شماره همراه</label>
            <input asp-for="PhoneNumber" name="PhoneNumber" class="form-control" />
        </div>
    </div>
    <br />
    <div class="row" id="add-new-familyRole-box">
        <div class="col-6 mb-2">
            <button type="button" id="add-new-familyRole" class="btn btn-info">
                <i>+</i>
            </button>
        </div>
    </div>
    @if (Model.AdditionalUserData != null)
    {
        foreach (var additionalUser in Model.AdditionalUserData)
        {
            <div class="card" id="Box_@index">
                <div class="card-header" name="familyBox"><h6>#@(index+1) رابطه خویشاوندی</h6></div>
                <div class="card-body">
                    <div class="row">
                        <input asp-for="AdditionalUserData[index].ParentRef" name="AdditionalUserData[index].ParentRef" value="@Model.Id" hidden />
                        <div class="col-6 mb-2">
                            <label for="AdditionalUserData[index].FirstName">نام</label>
                            <input asp-for="AdditionalUserData[index].FirstName" name="AdditionalUserData[index].FirstName" class="form-control" />
                        </div>
                        <div class="col-6 mb-2">
                            <label for="AdditionalUserData[index].LastName">نام خانوادگی</label>
                            <input asp-for="AdditionalUserData[index].LastName" name="AdditionalUserData[index].LastName" class="form-control" />
                        </div>
                        <div class="col-6 mb-2">
                            <label for="AdditionalUserData[index].NationalCode"> کد ملی</label>
                            <input asp-for="AdditionalUserData[index].NationalCode" name="AdditionalUserData[index].NationalCode" class="form-control" />
                        </div>
                        <div class="col-6 mb-2">
                            <label for="AdditionalUserData[index].IdentityNumber"> شماره شناسنامه</label>
                            <input asp-for="AdditionalUserData[index].IdentityNumber" name="AdditionalUserData[index].IdentityNumber" class="form-control" />
                        </div>
                        <div class="col-6 mb-2">
                            <label for="AdditionalUserData[index].Birthday">تاریخ تولد</label>
                            <input name="AdditionalUserData[index].Birthday" class="datepicker form-control" />
                        </div>
                        <div class="col-6 mb-2">
                            <label class="form-label" for="WorkshopCode">جنسیت</label>
                            <select asp-for="AdditionalUserData[index].Gender"
                            class="form-control"
                            asp-items="Html.GetEnumSelectList<Gender>()">
                            </select>
                        </div>
                        <div class="col-6 mb-2">
                            <label class="form-label" for="WorkshopCode">رابطه خویشاوندی</label>
                            <select asp-for="AdditionalUserData[index].FamilyRole"
                            class="form-control"
                            asp-items="Html.GetEnumSelectList<FamilyRole>()">
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" onclick="RemoveBox('@index')" class="btn btn-danger">
                            <i>-</i>
                        </button>
                    </div>
                </div>
            </div>
            index++;
        }
    }
    <button class="btn btn-primary mt-5" type="submit" value="Submit">ویرایش</button>

</form>


@section Scripts{
<script src="~/js/Users/Edit/EditUser.js" type="text/javascript"></script>
}