@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "بارگزاری از اکسل";
}
<form asp-controller="Home" asp-action="Export">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label" for="inputPassword">پروژه</label>
                            <select id="project" class="js-data-example-ajax form-control" name="projectId" required>
                                <option selected>یک مورد را انتخاب کنید</option>
                            </select>
                        </div>
                        <div class="col-12" style="margin-top: 2rem !important;">
                            <label class="form-label" for="files">فایل</label>
                            <input type="file" id="fileupload" name="files" class="form-control" />
                        </div>
                        <div class="mt-3 col-12">
                            <input type="button" name="Upload" value="بارگزاری فایل" id="btnupload" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(function () {
        $('#btnupload').on('click', function () {

            var fileExtension = ['xls', 'xlsx'];

            var filename = $('#fileupload').val();

            if (filename.length == 0) {

                alert("Please select a file.");

                return false;

            }
            else {

                var extension = filename.replace(/^.*\./, '');

                if ($.inArray(extension, fileExtension) == -1) {

                    alert("Please select only excel files.");

                    return false;
                }
            }

            var fdata = new FormData();

            var fileUpload = $("#fileupload").get(0);

            var files = fileUpload.files;

            fdata.append(files[0].name, files[0]);
             $('#CustomSpinner').css('display','block');
             $('#btnupload').attr("disabled",true);
            $.ajax({
               type: "POST",

                url: `/Data/Excel/ImportAttendances?projectRef=${$('#project').val()}`,

                beforeSend: function (xhr) {

                    xhr.setRequestHeader("XSRF-TOKEN",

                        $('input:hidden[name="__RequestVerificationToken"]').val());

                },

                data: fdata,

                contentType: false,

                processData: false,

                success: function (response) {
                    setTimeout(function(){
                        $('#CustomSpinner').css('display','none');
                        $('#btnupload').attr("disabled",false);
                    },2000*2);
                },
            });

        })

        $('#btnExport').on('click', function () {

            var fileExtension = ['xls', 'xlsx'];

            var filename = $('#fileupload').val();

            if (filename.length == 0) {

                alert("Please select a file then Import");

                return false;

            }

        });

    });
    $(document).ready(function(){
    $.ajax({
        url: "/admin/project/getlist?permissionName=ImportAttendance",
        method: "GET",
        success: function (model){
            //console.log(parseJSON(model));
            $.map( model, function( val, i ) {
                console.log(val);
                $("#project").append('<option value="' + val.id + '">' + val.title + ' ( ' + val.workshopName + ' ) ' + '</option>');
            });
            //$("#project").append('<option value="' + model.id + '">' + model.title + '</option>');
            //$("#project").select2();
        }
    });
    });
</script>