@{
    ViewBag.Title = "حذف کارکرد ماهیانه";

}

<form id="form" method="POST">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label" for="inputEmail">سال</label>
                            <input type="text" name="year" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="inputPassword">ماه</label>
                            <input type="text" name="month" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-12 mt-1">
                            <label class="form-label" for="inputPassword">پروژه</label>
                            <select id="project" class="js-data-example-ajax form-control" name="projectId" required>
                                <option selected>یک مورد را انتخاب کنید</option>
                            </select>
                        </div>
                        <div class="mt-3 col-12">
                            <button onclick="DeleteAttendances()" class="btn btn-primary">حذف همه</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
<script>
        function DeleteAttendances(){
        $('#form').attr('action', "/Data/Excel/DeleteMonthlyAttendances").submit();
            }

        $.ajax({
        url: "/admin/project/getlist?permissionName=DeleteMonthlyAttendance",
        method: "GET",
        success: function (model){
            //console.log(parseJSON(model));
            $.map( model, function( val, i ) {
                console.log(val);
                $("#project").append('<option value="' + val.id + '">' + val.title + '</option>');
            });
            //$("#project").append('<option value="' + model.id + '">' + model.title + '</option>');
            //$("#project").select2();
        }
    })
</script>
}
