@{
    ViewBag.Title = "خروجی خلاصه بیمه";
}
<form id="form" method="GET">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label" for="year">سال</label>
                            <input type="text" name="year" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="month">ماه</label>
                            <input type="text" name="month" class="form-control" placeholder="" required>
                        </div>
                        <div class="col-12 mt-1">
                            <label class="form-label" for="projectList">پروژه</label>
                            <select id="project" class="js-data-example-ajax form-control"  name="projectId" required>
                                <option selected>یک مورد را انتخاب کنید</option>
                            </select>
                        </div>
                        <div class="mt-3 col-12">
                            <button onclick="SubmitTXTForm()" class="btn btn-primary">تولید فایل DBF</button>
                            <button onclick="SubmitPDFForm()" class="btn btn-primary">تولید فایل PDF</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function SubmitTXTForm(){
        $('#form').attr('action', "/Export/SummaryInsurance/DBF").submit();
    }
    function SubmitPDFForm(){
        $('#form').attr('action', "/Export/SummaryInsurance/PDF").submit();
    }
</script>
@section Scripts{
<script>

        $.ajax({
        url: "/admin/project/getlist",
        method: "GET",
        success: function (model){
            //console.log(parseJSON(model));
            $.map( model, function( val, i ) {
                console.log(val);
                $("#project").append('<option value="' + val.id + '">' + val.title + '</option>');
            });
            //$("#project").append('<option value="' + model.id + '">' + model.title + '</option>');
            //$("#project").select2();
        }
    })
</script>
}
