@inject IHtmlLocalizer<SharedResource> localizer
@{
    ViewData["Title"] = localizer["Users"];
    ViewData["Caption"] = "کارکرد های پرسنل را در اینجا مدیریت کنید";
    ViewBag.Title = "کارکردها";
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-1 mt-1">
                <input class="form-control" name="year" id="year" placeholder="سال" />
            </div>
            <div class="col-1 mt-1">
                <input class="form-control" name="month" id="month" placeholder="ماه" />
            </div>
            <div class="col-4 mt-1">
                <select id="project" class="js-data-example-ajax form-control" name="project" required>
                    <option selected value='0'>یک پروژه را انتخاب کنید</option>
                </select>
            </div>
            <div class="col-3 mt-1">
                <input class="form-control" name="key" id="key" placeholder="جستجو" />
            </div>
            <div class="mt-1 col-6 row">
                <button onclick="loadData($('#year').val(),$('#month').val(),$('#key').val(),$('#project').val());page=0" class="btn btn-primary mr-2">نمایش نتیجه</button>
                <button onclick="Excel($('#year').val(),$('#month').val(),$('#key').val(),$('#project').val());page=0" class="btn btn-info mr-2">خروجی اکسل</button>
            </div>
            @*<div class="mt-1 col-1">
                </div>*@
        </div>
    </div>
</div>
<div class="card" id="data-card">
</div>
@section Scripts
{
<script src="~/js/site.js"></script>
<script>
     $.ajax({
        url: "/admin/project/getlist?permissionName=ShowAttendance",
        method: "GET",
        success: function (model){
            //console.log(parseJSON(model));
            $.map( model, function( val, i ) {
                //console.log(val);
                $("#project").append('<option value="' + val.id + '">' + val.title + ' ( ' + val.workshopName + ' ) ' + '</option>');
                //$("#project").append('<option value="' + val.id + '">' + val.title + '</option>');
            });
            //$("#project").append('<option value="' + model.id + '">' + model.title + '</option>');
            //$("#project").select2();
        }
    })

    var page = 0;

    function loadData(year,month,key,projectId) {
        $('#CustomSpinner').css('display','block')
        $('#data-card').load('/admin/attendance/loadall?year=' + year + '&month=' + month + '&key=' + key+ "&projectId=" + projectId + "&pageSize=10&pageNumber=" + page);
    }


    function Excel(year,month,key,projectId) {
        $('#CustomSpinner').css('display','block');
        fetch('/admin/attendance/ExportExcel?year=' + year + '&month=' + month + '&key=' + key+ "&projectId=" + projectId + "&pageSize=10&pageNumber=1")
          .then(resp => resp.blob())
          .then(blob => {
            $('#CustomSpinner').css('display','none');
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            // the filename you want
            a.download = 'Attendances.xlsx';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
          })
          .catch(() => $('#CustomSpinner').css('display','none'));
    }
    
</script>
}